{% extends 'yourFinance/base.html' %}
{% block content %}
	{% for year in years %}
		<br>
		{{ year.number }}
		<a href="{% url 'delete year' year.id %}">delete</a>
		<br>
		{% for month in year.get_reverse_ordered_months %}
			<br>
			{{ month.name }}
			<a href="{% url 'edit month' month.id %}">edit</a>
			<a href="{% url 'delete month' month.id %}">delete</a>
			<br>
			<br>
			{% for stash in month.stash_set.all %}
				{{stash.name}} {{stash.amount}}
				<a href="{% url 'edit stash' stash.id %}">edit</a>
				<a href="{% url 'delete stash' stash.id %}">delete</a>
				<br>
			{% empty %}
			<p>--No money deposition places for this month--</p>
			{% endfor %}
		{% empty %}
		<p>--No months with data for this year--</p>
		{% endfor %}	
	{% empty %}
	<p>--No years with data for this user--</p>
	{% endfor %}
	<button type="button"><a href="{% url 'index' %}">Back to main page.</a></button>
{% endblock content %}